main.kontakt {
  /* display: flex; */
  padding: var(--padding-primary);
}

.call-to-action {
  font-size: 5rem;
  line-height: 1.4;
}

address {
  margin-bottom: var(--padding-primary);
  margin-top: auto;
}

address > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--padding-primary);

  font-size: 1.8rem;
}

p.address-label {
  font-size: 0.7em;
  margin-bottom: 1em;
}

address a {
  display: flex;
}

address .link-icon {
  font-size: 1.1em;
  font-weight: 200;
  padding: 0;
  margin-left: 6px;
  align-self: center;
}
