main.carousel-page {
  justify-content: space-between;
  padding-top: 7vh;
  gap: 7vh;
}

.carousel-container {
  max-width: 100%;
  color: white;
  overflow: hidden;
  height: 60vh;
  cursor: grab;
}

.carousel {
  list-style: none;
  display: flex;
  height: 100%;
  /* transform: translate3d(-1000px, 0px, 0px); */
  transition: transform 500ms ease;
}

.carousel > Link {
  height: 100%;
}

.carousel figure {
  display: flex;
  height: 100%;
  justify-content: center;
}

.carousel figcaption {
  writing-mode: vertical-rl;
  align-self: flex-start;
  overflow: hidden;
  margin-right: var(--carousel-figcaption-margin-right);
  margin-left: var(--carousel-figcaption-margin-left);
  line-height: 1.5;
}

.carousel .img-caption {
  transform: translate3d(-20px, 0px, 0px);
  transition: transform 200ms ease;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-left);
}

.carousel-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}

.carousel-img {
  height: 100%;
}

.carousel-text-item {
  margin-right: var(--carousel-item-gap);
  max-width: 600px;
}

.dragging {
  user-select: none;
  cursor: grabbing;
}
