#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --accent-color: rgb(255, 82, 13);
}

* {
  margin: 0;
}

body,
html {
  width: 100%;
  background-image: url("assets/pattern_04.png");
  background-size: 120%;
}

/* header */
header {
  padding: 50px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

figure {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-container {
  padding: 50px 0;
  max-width: 100%;
  color: white;
  overflow: hidden;
  height: 60vh;
  cursor: grab;
}

.carousel {
  list-style: none;
  display: flex;
  height: 100%;
  transform: translateX(var(--scrollPos));
  transition: transform 500ms ease;
}

.carousel > Link {
  height: 100%;
}

.carousel figure {
  display: flex;
  height: 100%;
  justify-content: center;
}

.carousel figcaption {
  writing-mode: vertical-rl;
  align-self: flex-start;
  overflow: hidden;
  margin-right: 26px;
  margin-left: 14px;
}

.carousel .img-caption {
  transform: translate3d(-20px, 0px, 0px);
  transition: transform 200ms ease;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.dragging {
  user-select: none;
  cursor: grabbing;
}

.carousel-img {
  height: 100%;
}

.button-scroll {
  position: absolute;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.button-scroll div {
  width: 40vw;
  display: flex;
  align-items: center;
}

.button-scroll div:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.button-scroll span {
  position: absolute;
}
.previous span {
  left: 3%;
}
.next span {
  right: 3%;
}

.slideshow-container {
  width: 100%;
  overflow: hidden;
  height: 80vh;
  /* cursor: grab; */
}

.slider {
  display: flex;
  height: 100%;
  gap: 20vw;
}

.slide-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 80vw;
  height: 100%;
}

.slide-img-wrapper img {
  position: relative;
  height: 100%;
  max-width: 95%;
  object-fit: cover;
}

.slide-img-wrapper figure {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slide-img-wrapper figcaption {
  writing-mode: vertical-rl;
  align-self: flex-start;
}

.slider-counter-container {
  display: flex;
  justify-content: end;
  padding: 1% 3%;
}

.slide-text-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 30vw;
  left: 35vw;
}

.description-container {
  overflow-x: hidden;
}

.description-container::-webkit-scrollbar {
  width: 1px;
}
.description-container::-webkit-scrollbar-track {
  width: 1px;
  background: #888;
}
.description-container::-webkit-scrollbar-thumb {
  background: white;
}

/* KEEP FOR CUSTOM SCROLLBAR */

/* .scrollbar { */
/* margin-left: 10px; */
/* padding: 10px 20px; */
/* } */

/* .scrollbar-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  z-index: 5;
}

.scrollbar-thumb:hover {
  scale: 1.2;
  cursor: pointer;
}

.scrollbar-track {
  border-left: 1px solid rgb(255, 230, 230);
  height: 100%;
  position: relative;
  left: 7px;
  opacity: 30%;
} */

.disable-navigation {
  pointer-events: none;
}
