#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;

  --accent-color: rgb(255, 82, 13);
}

body,
html {
  width: 100%;
  background-image: url("assets/pattern_04.png");
  /* background-repeat: round; */
  background-size: 120%;
}

figure {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-container {
  max-width: 100%;
  color: white;
  overflow: hidden;
  height: 50vh;
  cursor: grab;
}

.carousel {
  list-style: none;
  display: flex;
  height: 100%;
  transform: translateX(var(--scrollPos));
  transition: transform 500ms ease;
}

.carousel > Link {
  height: 100%;
}

.carousel figure {
  display: flex;
  height: 100%;
  justify-content: center;
}

.carousel figcaption {
  writing-mode: vertical-rl;
  align-self: flex-start;
}

.dragging {
  user-select: none;
  cursor: grabbing;
}

.carousel-img {
  height: 100%;
}

.button-scroll {
  position: absolute;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.button-scroll div {
  width: 40vw;
  display: flex;
  align-items: center;
}

.button-scroll div:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.button-scroll span {
  position: absolute;
}
.previous span {
  left: 3%;
}
.next span {
  right: 3%;
}

.slideshow-container {
  width: 100%;
  overflow: hidden;
  height: 80vh;
  /* cursor: grab; */
}

.slider {
  display: flex;
  height: 100%;
  gap: 20vw;
}

.slide-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 80vw;
  height: 100%;
}

.slide-img-wrapper img {
  position: relative;
  height: 100%;
  max-width: 95%;
  object-fit: cover;
}

.slide-img-wrapper figure {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slide-img-wrapper figcaption {
  /* position: absolute; */
  writing-mode: vertical-rl;
  align-self: flex-start;
}

.slider-counter-container {
  display: flex;
  justify-content: end;
  padding: 1% 3%;
}

.slider .blue {
  background: blue;
}

.disable-navigation {
  pointer-events: none;
}

.green {
  background: green;
}

.red {
  background: red;
}
