/* google material icons */

a,
button {
  display: flex;
  color: white;
  text-decoration: none;
}

a:hover,
button:hover {
  color: var(--accent-color);
}

a > span,
button > span {
  justify-self: center;
  align-self: center;
  padding: 10px;
}

figcaption {
  color: white;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  height: 13vh;
  padding: 0 3vw;

  line-height: 1;
}

header > div {
  display: flex;
  align-items: center;
}

header > a {
  margin-left: auto;
}

header .close-project-icon {
  margin-top: 0.1em;
}

.project-title {
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

figure {
  margin: 0;
  padding: 0;
}

/* Carousel */

/* Slider */

/* KEEP FOR CUSTOM SCROLLBAR */

/* .scrollbar { */
/* margin-left: 10px; */
/* padding: 10px 20px; */
/* } */

/* .scrollbar-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  z-index: 5;
}

.scrollbar-thumb:hover {
  scale: 1.2;
  cursor: pointer;
}

.scrollbar-track {
  border-left: 1px solid rgb(255, 230, 230);
  height: 100%;
  position: relative;
  left: 7px;
  opacity: 30%;
} */
